build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-2a31cf35ade129865e77.json
build/.cmake/api/v1/reply/cmakeFiles-v1-feeb5802c4b8d8b69ba9.json
build/.cmake/api/v1/reply/codemodel-v2-078161e889c9a98e70c1.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-06-14T00-46-37-0394.json
build/.cmake/api/v1/reply/target-main-Debug-fd99131625588061220d.json
build/.cmake/api/v1/reply/toolchains-v1-e719e28fe32911e094f8.json
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/4.0.0/CMakeCCompiler.cmake
build/CMakeFiles/4.0.0/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.0/CMakeRCCompiler.cmake
build/CMakeFiles/4.0.0/CMakeSystem.cmake
build/CMakeFiles/4.0.0/CompilerIdC/a.exe
build/CMakeFiles/4.0.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.0/CompilerIdCXX/a.exe
build/CMakeFiles/4.0.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/compiler_depend.internal
build/CMakeFiles/main.dir/compiler_depend.make
build/CMakeFiles/main.dir/compiler_depend.ts
build/CMakeFiles/main.dir/depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/includes_C.rsp
build/CMakeFiles/main.dir/includes_CXX.rsp
build/CMakeFiles/main.dir/link.txt
build/CMakeFiles/main.dir/linkLibs.rsp
build/CMakeFiles/main.dir/objects.a
build/CMakeFiles/main.dir/objects1.rsp
build/CMakeFiles/main.dir/progress.make
build/CMakeFiles/main.dir/src/glad.c.obj
build/CMakeFiles/main.dir/src/glad.c.obj.d
build/CMakeFiles/main.dir/src/main.cpp.obj
build/CMakeFiles/main.dir/src/main.cpp.obj.d
build/CMakeFiles/main.dir/src/stb_image.cpp.obj
build/CMakeFiles/main.dir/src/stb_image.cpp.obj.d
build/CMakeFiles/main.dir/src/textrendering.cpp.obj
build/CMakeFiles/main.dir/src/textrendering.cpp.obj.d
build/CMakeFiles/main.dir/src/tiny_obj_loader.cpp.obj
build/CMakeFiles/main.dir/src/tiny_obj_loader.cpp.obj.d
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/compile_commands.json
build/Makefile
